*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shippori Mincho', serif;
    object-fit: cover;
}
/* header */
header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    color: rgb(131, 125, 125);
}
header nav ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
header nav ul li {
    list-style-type: none;
    padding: 10px 20px;
    transition: 1s;
}
header nav ul li:hover{
    text-decoration: underline;
    translate: scale(100%);
    color: black;
    cursor: auto;
}
.presentation{
    background-image: url(images/pres.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    height: 400px;
    color: white;
    text-align: center;
}
.presentation h2{
    font-size: 70px;
    padding: 20px;
}
.presentation p{
    font-size: 30px;
    padding: 20px;
}
.presentation button{
    padding: 10px 70px;
    font-size: 30px;
    border-radius: 5px;
}
/* article */
article .recette1, .recette2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
}
.text{
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
    padding: 10px 10px;
    text-align: justify;
}
.text h3{
    font-size: 30px;
    padding: 5px 5px;
    text-decoration:underline ;
}
.recette1 div img, .recette2 div img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
/* services */
.services{
    background-color: black;
    color: white;
    height: auto;
}
.services h3{
    font-size: 40px;
    padding: 10px 20px;
    text-decoration: underline;
}
.services div h4{
    padding: 5px 10px;
    font-size: 30px;
}
.services section{
    display: flex;
    justify-content: space-around;
    flex-direction:row ;
    flex-wrap: wrap;
}
.services section div{
    width: 300px;
    padding: 50px 50px;

}
.services section div p{
    font-size: 20px;
}
/* footer */
footer{
    text-align: center;
}